:root {
  --grid-color: rgb(193, 193, 255);
  --grid-outline: rgb(162, 162, 189);
  --cell-hover: rgb(242, 250, 255);
  --ship-body: rgb(229, 245, 255);
  --ship-border: rgb(0, 99, 165);
  --sunk-ship-bg: rgb(85, 166, 219);
  --sunk-ship-hover: rgb(89, 171, 226);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 16px;
}

.player {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grid-outline);
}

.row {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--grid-color);
  border-bottom: 1px solid var(--grid-color);
}

.row:not(:first-child),
.row:first-child {
  border-top: none;
}

.row:last-child {
  border-bottom: none;
}

.col {
  position: relative;
  width: 30px;
  height: 30px;
}

.col:hover {
  background-color: var(--cell-hover);
}

.col:not(:first-child),
.col:first-child {
  border-left: none;
  border-right: 1px solid var(--grid-color);
}

.col:last-child {
  border-right: none;
}

.ship-container {
  display: flex;
  width: fit-content;
  border: 2px solid var(--ship-border);
}

.ship-container.vertical {
  flex-direction: column;
}

.ship {
  width: 30px;
  height: 30px;
  background-color: var(--ship-body);
}

.ship:not(:first-child),
.ship:first-child {
  border-left: none;
  border-right: 1px solid var(--grid-outline);
}

.ship:last-child {
  border-right: none;
}

.vertical .ship:not(:first-child),
.vertical .ship:first-child {
  box-sizing: content-box;
  border: none;
  border-bottom: 1px solid var(--grid-outline);
}

.vertical .ship:last-child {
  border-bottom: none;
}

.hit {
  position: relative;
}

.hit::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  content: "✕";
  background-color: var(--sunk-ship-bg);
  color: white;
  font-weight: bold;
}

.hit:hover::after {
  background-color: var(--sunk-ship-hover);
}

.miss::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: gray;
}
